
*.log
Flaskpost/fmod_editor.log
Flaskpost/Assets/FMODStudioCache.asset
*.bank
Flaskpost/fmod_editor.log
Flaskpost/fmod.log
Flaskpost/Assets/FMODStudioCache.asset
Flaskpost/Assets/StreamingAssets/Master Bank.bank
Flaskpost/Assets/StreamingAssets/Master Bank.strings.bank
